@font-face {
    font-family: 'Frijole';
    src: url('Frijole.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Frijole', sans-serif;
    margin: 20px;
}

footer {
    margin-top: 50px;
    font-size: 0.8em;
}


